<div>
  <div>
    <form class="form-horizontal">
      <div class="form-group">
        <div class="row" style="margin-bottom:10px">
          <label class="control-label col-sm-2 lbl-custom">Project:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="pname" id="pname" placeholder="Enter Project Name">
          </div>
        </div>
        <div class="row" style="margin-bottom:10px">
          <div class="col-sm-2"></div>
          <div class="col-sm-1">
            <input type="checkbox" style="margin-top:10px" name="setdate" id="setdate">
          </div>
          <label class="col-sm-3 control-label lbl-custom">Set start date & end date</label>
          <div class="col-sm-3">
            <input type="date" class="form-control" name="sdate" id="sdate">
          </div>
          <div class="col-sm-3">
            <input type="date" class="form-control" name="edate" id="edate">
          </div>
        </div>
        <div class="row" style="margin-bottom:10px">
          <label class="control-label col-sm-2 lbl-custom">Priority:</label>
          <div class="col-sm-10">
            <input type="range" class="form-control" min="0" max="30" id="priority">
          </div>
        </div>
        <div class="row" style="margin-bottom:10px">
          <label class="control-label col-sm-2 lbl-custom">Manager:</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="mngr">
          </div>
          <div class="col-sm-2">
            <input type="button" value="Search" class="form-control" id="mngr" class="btn btn-default">
          </div>
        </div>
        <div class="row" style="margin-bottom:10px">
          <div class="col-sm-3">
          </div>
          <div class="col-sm-3">
            <input type="submit" value={{btnText}} class="btn form-control btn-custom">
          </div>
          <div class="col-sm-3">
            <input type="button" value="Reset" class="btn form-control btn-custom">
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="form-horizontal">
    <div class="form-group">
      <div class="col-sm-3">
        <input type="text" class="form-control" placeholder="Search" id="listSearch">
      </div>
      <div class="col-sm-1" style="text-align: right; padding-top: 5px">Sort:</div>
      <div class="col-sm-2">
        <input type="button" value="Start Date" class="btn-default form-control" style="font-size:smaller">
      </div>
      <div class="col-sm-2">
        <input type="button" value="End Date" class="btn-default form-control" style="font-size:smaller">
      </div>
      <div class="col-sm-2">
        <input type="button" value="Priority" class="btn-default  form-control" style="font-size:smaller">
      </div>
      <div class="col-sm-2">
        <input type="button" value="Completed" class="btn-default  form-control" style="font-size:smaller">
      </div>
    </div>

  </div>
  <ul class="list-group">
    <li class="list-group-item">
      <div class="form-horizontal">
        <div class="form-group">
          <div class="col-sm-8" style="background-color: #eee; border-radius: 10px">
            <table>
              <tr style="margin-bottom:5px">
                <td class="col-sm-2" style="font-size:smaller">Project:</td>
                <td class="col-sm-4">
                  <input type="text" class="form-control" name="fname" [disabled]="true" id="fname">
                </td>
              </tr>
              <br>
              <tr>
                <td class="col-sm-1" style="font-size:smaller">No of Tasks:</td>
                <td class="col-sm-4">
                  <input type="text" class="form-control" name="tc" [disabled]="true" id="tc">
                </td>
                <td class="col-sm-1" style="font-size:smaller">Completed Tasks:</td>
                <td class="col-sm-4">
                  <input type="text" class="form-control" name="ct" [disabled]="true" id="ct">
                </td>
              </tr>
              <br>
              <tr>
                <td class="col-sm-1" style="font-size:smaller">StartDate:</td>
                <td class="col-sm-4">
                  <input type="text" class="form-control" name="sd" [disabled]="true" id="sd">
                </td>
                <td class="col-sm-1" style="font-size:smaller">EndDate:</td>
                <td class="col-sm-4">
                  <input type="text" class="form-control" name="ed" [disabled]="true" id="ed">
                </td>
              </tr>
            </table>
          </div>
          <div class="col-sm-2">
            <div style="font-size:smaller">Priority:</div>
            <br>
            <div>
              <input type="text" class="form-control" name="pt" [disabled]="true" id="pt">
            </div>
          </div>
          <div class="col-sm-2">
            <div>
              <input type="button" value="Edit" class="btn form-control btn-custom">
            </div>
            <div>
              <br>
            </div>
            <div>
              <input type="button" value="Suspend" class="btn form-control btn-custom">
            </div>
          </div>
        </div>
      </div>
      <hr>
    </li>
  </ul>
</div>
