<div class="form-horizontal">
  <div class="form-group">
    <label class="control-label col-sm-1">Project:</label>
    <div class="col-sm-4">
      <input type="text" [disabled]="true" class="form-control" name="prj" id="prj">
    </div>
    <div class="col-sm-1">
      <input type="button" value="Search" (click)="OpenProjectSearchModal()" class="btn-default form-control">
    </div>
    <div class="col-sm-1">
      <input type="button" value="Clear" (click)="ClearSearch()" class="btn-default form-control">
    </div>
    <div class="col-sm-1" style="text-align:right; padding-top:5px">Sort:</div>
    <div class="col-sm-1">
      <input type="button" value="Start Date" class="btn-default form-control" style="font-size:x-small">
    </div>
    <div class="col-sm-1">
      <input type="button" value="End Date" class="btn-default form-control" style="font-size:x-small">
    </div>
    <div class="col-sm-1">
      <input type="button" value="Priority" class="btn-default form-control" style="font-size:x-small">
    </div>
    <div class="col-sm-1">
      <input type="button" value="Completed" class="btn-default form-control" style="font-size:x-small">
    </div>
  </div>
</div>

<div>

</div>
